* {
  box-sizing: border-box;
}

:root {
  --dark-grey:#1e1e2f;
  --darker-grey:#151522;
  --light-grey: #777;
  --light-purple: #c247a6;
  --dark-purple: #5e1447;
  --standard-margin-padding: 20px;
  --little-margin-padding: 10px;
}

/* width */
::-webkit-scrollbar {
  width: var(--little-margin-padding);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darker-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-grey);
}

body {
  margin: 0;
  background-color: var(--dark-grey);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#EditorAndIframeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px var(--darker-grey);
  height: 85vh;
  max-height: 100%;
  background-color: var(--darker-grey);
  max-width: 100%;
  overflow: hidden;
  margin-bottom: var(--standard-margin-padding);
  border: solid 0.5px var(--darker-grey);
}

/*--------- TAB --------- */

.Tab {
  height: 40px;
}

.Tablinks {
  background-color: transparent;
  border: none; 
  color: white;
  cursor: pointer;
  height: 100%;
  padding: 0 var(--little-margin-padding);
}

.Tablinks:hover {
  background-color: var(--light-grey);
}

.Tablinks.open {
  background-color: var(--dark-grey);
}

.Tablinks:focus{
  outline: none;
}

.Tablinks.Right {
  float:right;
}

#saveBtn {
  margin-right: var(--little-margin-padding)
}

div.Play {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 10px 0px 10px 20px;
  border-color: transparent transparent transparent white;
  transition: 0.1s;
}

div.Pause {
  width: 20px;
  height: 20px;
  border-style: double;
  border-width: 0px 0px 0px 20px;
  border-color: transparent transparent transparent white;
  transition: 0.1s;

}

.pane {
  height: 100%;
  width: 50vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

iframe {
  height: 100%;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: var(--little-margin-padding);
  background-color:var(--dark-grey);
  overflow-y: auto;
}

.editor-container.collapsed {
  flex-grow: 0;
  padding: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  overflow: hidden;
  border: solid 0.5px var(--darker-grey);
}

/*--------- VIDEOS --------- */

#VideoContainer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: var(--little-margin-padding);
  display: flex;
  align-items: flex-end;
}

.Video {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.SmallV {
  height: 80px;
  width: 80px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}